:root {
    --primary-light: #E9ECEF;
    --secondary-light: #F8F9FA;
    --accent: #CED4DA;
    --primary-dark: #6C757D;
    --research-bg: #F8F9FA;
}

.about-section h2 {
    color: var(--primary-dark);
}

.about-section p {
    color: var(--primary-dark);
}

.sticky-top {
    position: sticky;
    top: 10px;
    z-index: 1030;
}

.navbar-nav {
    margin: 0 auto;
}

.nav-link {
    color: var(--accent);
    transition: color 0.3s, transform 0.3s;
}

.nav-link:hover {
    color: var(--primary-dark);
    transform: scale(1.1);
}

.btn-primary {
    background-color: var(--primary-dark);
    color: var(--primary-light);
    border: none;
    transition: transform 0.3s, background-color 0.3s;
}

.btn-primary:hover {
    background-color: var(--accent);
    transform: scale(1.1);
}


.content {
    position: relative;
    z-index: 2;
    padding-top: 100vh;
}

.about-page {
    border: 1px solid #ccc;
    background-color: var(--research-bg);
    border-radius: 30px;
    position: relative;
    background-color: #fff;
    margin: 20px 0;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.05);
}

.nav-link.active {
    font-weight: bold;
    color: #6C757D;
    border-bottom: 2px solid #6C757D;
}

.contact-us-section {
    border: 1px solid #ccc;
    background-color: var(--research-bg);
    border-radius: 30px;
    position: relative;
    background-color: #fff;
    margin: 20px 0;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.05);
}

.card-title {
    color: #333;
    font-weight: bold;
}

textarea {
    resize: none;
}
