:root {
    --primary-light: #E9ECEF;
    --secondary-light: #F8F9FA;
    --accent: #CED4DA;
    --primary-dark: #6C757D;
    --research-bg: #F8F9FA;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--primary-light);
    padding: 20px;
}

#signup-button {
    border-color: transparent;
    border-radius: 15px;
    padding: 10px 30px;
    width: auto;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}

#signup-button:hover {
    background-color: var(--accent);
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}