:root {
    --primary-light: #E9ECEF;
    --secondary-light: #F8F9FA;
    --accent: #CED4DA;
    --primary-dark: #6C757D;
    --research-bg: #F8F9FA;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--primary-light);
    padding: 20px;
}

#signup-button {
    border-color: transparent;
    border-radius: 15px;
    padding: 10px 30px;
    width: auto;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}

    #signup-button:hover {
        background-color: var(--accent);
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }

#dropdownMenuButton {
    background-color: transparent;
    border-color: transparent;
    border-radius: 15px;
    padding: 10px 30px;
    width: 20px;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}

#dropdownMenuButton:hover {
    background-color: var(--accent);
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.navbar {
    background-color: rgba(248, 249, 250, 0.7);
    z-index: 5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.navbar.nav-link:hover::after {
    content: "";
    display: block;
    margin: 0 auto;
    transition: width 0.3s;
}

.navbar-nav {
    margin: 0 auto;
}

.nav-link {
    color: var(--accent);
    transition: color 0.3s, transform 0.3s;
}

.nav-link:hover {
    color: var(--primary-dark);
    transform: scale(1.1);
}

.nav-link.active {
    font-weight: bold;
    color: #6C757D;
    border-bottom: 2px solid #6C757D;
}

.dropdown {
    z-index: 10;
    top: 10px;
    right: 10px;
}
